<main class="h-dvh bg-stone-200">
  <div class="flex items-center h-10/12 justify-center">
    <router-outlet />
  </div>

  <footer
    class="flex h-2/12 gap-8 justify-center items-center w-full p-8 fixed bottom-0 bg-neutral-50 border-t border-neutral-400"
  >
    <section
      class="shadow flex flex-wrap justify-center gap-2 text-center text-xl rounded bg-amber-100 border border-amber-200 py-4 px-6 min-w-56"
    >
      <h2 class="text-xl w-full text-neutral-500">
        {{ this.quizService.team1Name() }}
      </h2>
      <p class="text-5xl font-bold text-neutral-800">
        {{ this.quizService.team1Score() }}
      </p>
    </section>

    <section
      class="shadow flex flex-wrap justify-center gap-2 text-center text-xl rounded bg-amber-100 border border-amber-200 py-4 px-6 min-w-56"
    >
      <h2 class="text-xl w-full text-neutral-500">
        {{ this.quizService.team2Name() }}
      </h2>
      <p class="text-5xl font-bold text-neutral-800">
        {{ this.quizService.team2Score() }}
      </p>
    </section>
  </footer>
</main>
